<h1>New Seller</h1>
<br/>

<% if @seller.errors.any? %>
	<ul class="validation-errors">
		<% @seller.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= render 'form', text_button: 'Save' %>