<div class="row">
	<div class="col-xs-12"></div>
	
		<div class="jumbotron">
			<h1>Home page</h1>
			<%= image_tag 'ror.png', width: '100%' %>
		</div>
</div>

<%= link_to 'Create product', new_product_path, class: 'button-red' %>
<%= link_to 'Create product', new_product_path, class: 'button-blue' %>
<%= link_to 'Create product', new_product_path, class: 'btn btn-default' %>

