<div class="review panel panel-default" style="padding: 10px; margin-bottom: 10px">
	<p>User <%= review.user.email %> rated <%= review.product.name %> with <%= review.rating %> stars.</p>
	<p><%= review.body %></p>
</div>